SERVER_PUB_IP=89.125.209.44
SERVER_PUB_NIC=eth0
SERVER_AWG_NIC=awg0
SERVER_AWG_IPV4=10.66.66.1
SERVER_PORT=443
SERVER_PRIV_KEY=
SERVER_PUB_KEY=

CLIENT_DNS_1=1.1.1.1
CLIENT_DNS_2=8.8.8.8
STORE_CLIENT=y
USE_NFTABLES=n
ALLOWED_IPS=0.0.0.0/0
KEEPALIVE=0
CLIENTS_DIR=/var/lib/amnezia/clients
QR_DIR=/var/lib/amnezia/qr
STATE_DIR=/var/lib/amnezia/state
REGISTRY_FILE=/var/lib/amnezia/state/clients.tsv
EXPORT_DIR=/home/awgesrv/export
SERVER_AWG_JC=6
SERVER_AWG_JMIN=50
SERVER_AWG_JMAX=1000
SERVER_AWG_S1=40
SERVER_AWG_S2=79
SERVER_AWG_H1=760714308
SERVER_AWG_H2=342415505
SERVER_AWG_H3=91894224
SERVER_AWG_H4=675799984
